<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheet/login.css">
    {{>links}}
    <style>
        .container {
            position: relative;
            
        }
    </style>
</head>

<body>
    {{>nav}}
    <div class="container">
        <form action="/update" method="post">
        <div class="login">
            <div class="logo">
                <div class="logo-icon">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
            <div class="inputs">
                <input type="text" name="email" placeholder="Email Id">
                <input type="text" name="pass" placeholder="Write new Password">
                <input id="submit" type="submit" name="submit">
            </div>
        </div>
         <p style="margin-top: 190px;" id="acc"><a href="/login">Back</a></p>
    </form>
    </div>
</body>

</html>