*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
}
html,body{
    height: 100%;
    width: 100vw;
}
.form_sec{
    width: 400px;
    /* border: 1px solid black; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #00000056;
    position: relative;
    top: 300px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.form_sec h4{
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}
.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name input{
    height: 30px;
    width: 175px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color:#edeef0;
    font-size: 15px;
}
.email{
    width: 100%;
}
.email input{
    height: 30px;
    width: 100%;
    padding: 10px;
    background-color:#edeef0;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.age{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.age #age{
    height: 30px;
    width: 50%;
    padding: 10px;
    background-color:#edeef0;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.age .gender{
    width: 50%;
}
.gender{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pass{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pass input{
    height: 30px;
    width: 175px;
    padding-left: 10px;
    background-color:#edeef0;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
}
#submit{
    text-align: center;
    /* position: relative;
    left: 50%;
    transform: translate(-50%,0%); */
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #ecf7ee;
    color: #4eb060;
    transition: all ease .2s;
}
#submit:hover{
    cursor: pointer;
    background-color: #4eb060;
    color: #fff;
} 
#submit:active{
    scale: 0.9;
}
#popup {
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}