<form action="/login" method="post">
        <div class="login">
            <div class="logo">
                <div class="logo-icon">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
            <div class="inputs">
                <input type="text" name="email" placeholder="Email Id">
                <input type="text" name="password" placeholder="Password">
                <input id="submit" type="submit" name="submit">
            </div>
            <div class="forgot">
                <div class="check"><input type="checkbox">Remember me</div>
                <p>Need help ?</p>
            </div>
            <div class="update">
                <p><a href="/update">Forgot/Update password</a></p>
                <p><a href="/delete">Delete your account</a></p>
            </div>
        </div>
         <p id="acc"><a href="/">Create an account</a></p>
    </form>