<div class="navbar">
    <div class="nav-partone">
        <i class="fa-solid fa-bars"></i>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmDc86csDBXp7Ve_fjblYn173gwMoOD5M1Vw&usqp=CAU"
            width="70" alt="logo">
        <div class="nav-one">
            <div class="nav-one-content"><a style="color: black; text-decoration:none" href="/">Home</a>
            </div>
            <div class="nav-one-content">About us

            </div>
            <div class="nav-one-content">Contact

            </div>
            <div class="nav-one-content">Blogs

            </div>
            <div class="nav-one-content">Reviews

            </div>
        </div>
    </div>
    <div class="nav-parttwo">
        <i class="fa-solid fa-desktop"></i>
        <i class="fa-solid fa-gear"></i>
        <i class="fa-regular fa-bell"></i>
        <span>Welcome {{name}}</span>
        <a href="/"><button id="btn1">Log out</button></a>

    </div>
</div>